<tr class="todaylist-<%= Date.today.strftime("%a") %>">
  <td><%= @Time[toli.stu_time] %></td>
  <td style="padding: 0"><%= link_to toli.subject, toli.content, { :class => "text-decoration sub_link #{Date.today.strftime("%a")}", :target => "_blank"}%></td>
</tr>