/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 .nav-right{
 	margin: 0 5px 0 auto;
 }
.nav-lists{
	 list-style: none;
	 margin: 10px 0;
}
.nav-list{
 	display: inline-block;
 	margin-right: 10px;
 	font-size: 14px;
}
 .text-decoration{
 	text-decoration: none;
 }
 .user_name{
   margin-left: 5px;
   margin-right: 5px;
 }
 .flash{
	/*margin: 33px 0 0 33px;*/
	color: green;
}
.flash-alert{
	/*margin: 33px 0 0 33px;*/
	color: red;
}

.user_edit_modal_wrapper{
 position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  display: none;
}

.user_modal{
  position: absolute;
  background-color: #fff;
  width: 450px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #eee;
  border-radius: 10px;
  display: none;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_modal_content{
  display: none;
  text-align: center;
}
.user_edit_botton{
  cursor: pointer;
}

.user_edit_ttl{
  margin-bottom: 10px;
}

.close_botton{
  cursor: pointer;
}