// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn{
	color: white;
}

.check_box{
	width: 17px;
	height: 17px;
	display: none;
}

.list_icon{
	margin-left: 3px;
}